/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/08/2018, 11:03:22 PM
    Author     : rafael
*/

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > div {
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a,
.tabs-left > .nav-tabs > li > div {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus,
.tabs-left > .nav-tabs > li > div:hover,
.tabs-left > .nav-tabs > li > div:focus{
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
  background-color: #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus,
.tabs-left > .nav-tabs .active > div,
.tabs-left > .nav-tabs .active > div:hover,
.tabs-left > .nav-tabs .active > div:focus{
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
/** Let tabls-left class be available in bootstrap 3.3.7 - F **/

.account-type
{
    font-family: 'Roboto', sans-serif;
    color: #A0AEB6;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
}

.account-amount
{
    font-family: 'Roboto', sans-serif;
	color: #A0AEB6;
	font-size: 12px;
	line-height: 16px;
}

/* TABS */
.tabs-left > .nav-tabs{
    margin-right:0px;
    padding: 0;
    height: 320px; /* Debe ser el mismo height que el que tenga .tab-content */
}

/* CONTENIDO DE LOS TABS */
.tab-content {
    background-color: #FFFFFF;
    border:solid 1px #DCE1E5;
    border-left-style: none;
    height: 320px; /* Debe ser el mismo height que el que tenga .tabs-left > .nav-tabs */
    padding-left: 20px;
    
    border-radius: 0px 4px 4px 4px;
    -moz-border-radius: 0px 4px 4px 4px;
    -webkit-border-radius: 0px 4px 4px 4px;
    
    -webkit-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 18px 2px rgba(0,0,0,0.05);
}

.tab-content > div {
    margin-top: 20px;
}

/* Formato del tab activo */
.tabs-left > .nav-tabs .active > a, 
.tabs-left > .nav-tabs .active > a:hover, 
.tabs-left > .nav-tabs .active > a:focus,

.tabs-left > .nav-tabs .active div, 
.tabs-left > .nav-tabs .active div:hover, 
.tabs-left > .nav-tabs .active div:focus
{
    background-color: #FFFFFF;
    
    border-bottom-style: none;
    border-left-style: none;
    
    /*border-bottom: 1px solid #DCE1E5;*/
    /*border-left: 1px solid #DCE1E5;*/
    border-bottom-left-radius: 0px;
    border-right-style: none;
    
    margin-right: -1px;
    
    -webkit-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    -moz-box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
    box-shadow: -4px 0px 18px -1px rgba(0,0,0,0.05);
}

/* Formato de los tabs en general */
.tabs-left > .nav-tabs > li:nth-child(1) > a,
.tabs-left > .nav-tabs > li:nth-child(1) > a:hover,
.tabs-left > .nav-tabs > li:nth-child(1) > a:focus,

.tabs-left > .nav-tabs > li:nth-child(1) > div,
.tabs-left > .nav-tabs > li:nth-child(1) > div:hover,
.tabs-left > .nav-tabs > li:nth-child(1) > div:focus 
{
    cursor: pointer;
    border-top-left-radius: 4px;
}

.tabs-left > .nav-tabs > li.active:nth-child(1) > a,
.tabs-left > .nav-tabs > li.active:nth-child(1) > a:hover,
.tabs-left > .nav-tabs > li.active:nth-child(1) > a:focus,

.tabs-left > .nav-tabs > li.active:nth-child(1) > div,
.tabs-left > .nav-tabs > li.active:nth-child(1) > div:hover,
.tabs-left > .nav-tabs > li.active:nth-child(1) > div:focus 
{
    border-top-left-radius: 4px;
    border-bottom-style: none;
    border-left: 1px solid #DCE1E5;
}

.tabs-left > .nav-tabs > li > a, 
.tabs-left > .nav-tabs > li > div {
    display: table;
    /*border: solid 1px transparent;*/
    margin-right: -1px;
    
    margin-bottom: 0;
    padding-bottom: 0;
    
    height: 80px;
    
    border:solid 1px #DCE1E5;
    border-radius: 0px;
}

/* Style of the div element acting as tab content */
.tabbable.tabs-left > .nav-tabs > li > div > div {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 12px 0px 12px;
    
    min-width: 90px;
    max-width: 90px;
  	
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

table > tbody > tr > td .celda-tabla{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.control-tabla{
    margin: 0px;
    padding: 0px;
}